<h1>All Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      <% if current_user.username == "admin" %>
        | <%= link_to "Edit", edit_tag_path(tag) %> |
        <%= link_to "Delete", tag_path(tag), method: :delete,
            data: {confirm: "Are you sure you want to delete this tag?"} %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "<< Back to Articles", articles_path %>
